.button1 {
  background-color: #fff;
  color: #00386b;
  font-weight: bold;
  font-size: 4rem;
  padding: 2rem 6rem;
  border: none;
  margin-top: 4.8rem;
  border-radius: 2rem 0;
  cursor: pointer;
}
