.monitor {
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;

  &__question {
    background: #e3e8eb;
    margin: 4rem 0rem;
    color: #495e84;
    font-size: 3.6rem;
    font-weight: bolder;
    padding: 2rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      margin-left: 2rem;
    }

    &.done {
      background: #31c6d3;
      opacity: 0.5;
      color: #fff;
    }
  }

  &__mainQuestion {
    background: #e3e8eb;
    margin: 0 0 2rem 0;
    color: #495e84;
    font-size: 3.3rem;
    font-weight: bolder;
    padding: 1.5rem 0;
  }

  &__imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    > img {
      width: 140rem;
      height: 82rem;
    }
  }

  &__questionContainer {
    position: absolute;
    height: 40rem;
    width: 120rem;
    bottom: 30rem;

    > img {
      width: 5rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
    }
  }

  &__content {
    background-image: url("../../assets/bg00301.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 9.6rem);
    position: relative;
    display: flex;
    flex-flow: column;
  }

  &__bgCol {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 149, 156, 0.5);
    z-index: -1;
  }

  &__answer {
    background: #fff7de;
    height: 32rem;
    border-radius: 3%;
    padding: 3rem 5rem;
    font-size: 3rem;
    text-align: left;
    overflow-y: auto;

    ul > li {
      margin: 2rem 0;
    }
  }

  &__titles {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 1rem 5rem;
    align-items: center;
  }

  &__title1 {
    background: #00959c;
    padding: 1.5rem 3rem;
    font-size: 4rem;
    color: #fff;
    border-left: 1.3rem solid #063793;
  }

  &__title2 {
    color: #063793;
    font-weight: bold;
    font-size: 3.2rem;
    margin: 5.6rem 4.8rem 4rem 0;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;

    span {
      //   width: 0;
      text-align: right;
      //   white-space: nowrap; /* Keeps the content on a single line */
      //   overflow: hidden;
      padding-top: 0.5rem;
    }
  }

  &__mark {
    height: 4rem;
    width: 1rem;
    background-color: #063793;
    margin-left: 0.7rem;
    position: relative;
    // right: -4rem;
    // opacity: 0;
  }

  &__actions {
    position: absolute;
    bottom: 3rem;
    margin: 0 5rem;
    right: 0;
  }
}
