* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Metropolis;
}

html {
  box-sizing: border-box;
  font-size: 0.43vw;

  @media only screen and (max-width: 1367px) {
    font-size: 0.4vw;
  }
}

body {
  min-height: 100vh;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(../src/assets/Metropolis/Metropolis-Regular.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "ChalkBoard";
  src: local("ChalkBoard"),
    url(../src/assets/chalk_board_2/ChalkBoard.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.app {
  &__mobileContainer {
    opacity: 0;
  }
}
