.pencils {
  min-height: 100vh;
  background-image: url("../../assets/wood.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;

  * {
    font-family: ChalkBoard;
  }

  &__lapis {
    position: absolute;
    left: 1%;
    width: 24rem;
    top: 8rem;
  }

  &__title2 {
    color: #063793;
    font-weight: bold;
    font-size: 3.2rem;
    margin: 3.6rem 4.8rem 2rem 0;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;

    span {
      text-align: right;
      white-space: nowrap; /* Keeps the content on a single line */
      overflow: hidden;
      padding-top: 0.5rem;
      width: 0;
      font-family: Metropolis;
    }
  }

  &__mark {
    height: 4rem;
    width: 1rem;
    background-color: #063793;
    margin-left: 0.7rem;
    position: relative;
    right: -6rem;
    opacity: 0;
  }

  &__content {
    min-height: calc(100vh - 9.6rem);
    position: relative;
    display: flex;
    flex-flow: column;
  }

  &__titles {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 5rem 1rem 5rem;
    align-items: center;
  }

  &__lsImg {
    margin: auto;
    display: block;
    margin-top: 23rem;
    padding-left: 7rem;
    opacity: 0;
    width: 40rem;
  }

  &__air {
    opacity: 0;
    position: relative;
    left: -10rem;
  }

  &__bookContainer {
    flex: 1 1;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60rem;
    opacity: 0;

    > img {
      width: 58%;
    }
  }

  &__part {
    background-image: url("../../assets/bloco.png");
    width: 69%;
    display: flex;
    background-repeat: no-repeat;
    padding: 7rem 9rem 0rem 9rem;
    background-size: 100% 100%;
  }

  &__pageTitle {
    color: #063793;
    font-size: 7.3rem;
    margin: 3rem 0;

    &.sm {
      font-size: 6rem;
    }

    &.sm2 {
      font-size: 4.3rem;
    }

    &.fromLeft {
      left: -11rem;
      position: relative;
      opacity: 0;
    }
  }

  &__tracos2 {
    width: 24rem !important;
  }

  &__money2img {
    opacity: 0;
    margin-left: 7rem;
  }

  &__curtain {
    width: 0;
    overflow: hidden;
    padding: 0 !important;
  }

  &__curtain2 {
    width: 0;
    overflow: hidden;
    padding: 0 !important;
    height: 18rem;
    display: flex;
    align-items: center;
  }

  &__tracosImg {
    width: 50rem !important;
  }

  &__fadeIn {
    opacity: 0;
  }

  &__asterisk {
    color: #063793;
    text-decoration: underline;
  }

  &__pageParagraph {
    color: #000;
    font-size: 4rem;
    // line-height: 5rem;
    top: 7rem;
    position: relative;
    opacity: 0;

    &.asterisk {
      font-size: 3.8rem;
      color: #063793;
    }

    &.halfPage {
      padding-right: 36rem !important;
    }

    ul {
      padding-left: 3rem;

      li {
        margin-bottom: 4rem;
      }
    }

    &.big {
      font-size: 3.7rem;
      line-height: 5.9rem;
    }

    &.mb {
      margin-bottom: 4rem;
    }

    &.p3 {
      margin: 8rem 0;
      line-height: 6rem;
      padding-right: 20rem;
    }

    &.small2 {
      font-size: 3.1rem;
    }

    &.small {
      font-size: 3.6rem;
    }
  }

  &__rpImg {
    width: 76% !important;
    opacity: 0;
  }

  &__pageImgContainer {
    margin: 5rem 0;
    display: flex;
    justify-content: center;

    &.p3 {
      display: block;
      // text-align: center;
      justify-content: flex-start;
    }

    &.p3r {
      align-items: flex-end;
      justify-content: flex-start;
    }

    img {
      width: 46%;
    }
  }

  &__page {
    flex: 1;
    text-align: left;

    &.left {
      div {
        padding-right: 9rem;
      }
    }

    &.right {
      // div:nth-child(1) {
      //   padding-top: 4rem;
      // }

      div {
        padding-left: 12rem;
      }
    }
  }

  &__actions {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;

    button {
      margin: 4rem 7rem;
    }
  }
}
